@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/**
* CARD
*   MEDIA
*     IMG
*   BODY
*     TITLE
*     DESCRIPTION
*     SHOW-BTN
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: hsl(0, 0%, 95%);
  font-size: 0.9375rem;
  font-family: 'Lexend Deca', sans-serif;
}

.card-list {
  max-width: 70%;
  margin: 3.8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  border-radius: 10px;

  @media (min-width: 1080px) {
    flex-direction: row;
    align-items: stretch;
  }
}

.card {
  width: 100%;
  padding: 2rem;

  @media (min-width: 1080px) {
    padding: 2.7rem;
    padding-right: 4rem;
  }
    &--theme-orange {
      background-color: hsl(31, 77%, 52%);
    }
    &--theme-dark-cyan {
      background-color: hsl(184, 100%, 22%);
    }
    &--theme-darker-cyan {
      background-color: hsl(179, 100%, 13%);
    }

  &__media {
    margin-bottom: 1.3rem;

    @media (min-width: 1080px) {
      margin-bottom: 1.7rem;
    }
  }

  &__body {

  }

  &__title {
    margin-bottom: 1.3rem;

    color: hsl(0, 0%, 95%);
    font-size: 2rem;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;

    @media (min-width: 1080px) {
      margin-bottom: 1.7rem;
    }
  }
  
  &__description {
    margin-bottom: 1.5rem;

    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.4rem;
    font-weight: 400;

    @media (min-width: 1080px) {
      height: 9rem;
      margin-bottom: 3.1rem;
    }
  }
  
  &__show-btn {
    padding: .7rem 1.4rem;
    border-radius: 20px;

    background-color: hsl(0, 0%, 95%);
    font-weight: 600;
    outline: none;
    border: none;

    @media (min-width: 1080px) {
      padding: .8rem 1.8rem;
    }
  }
    &__show-btn--theme-orange {
      color: hsl(31, 77%, 52%);
    }
    &__show-btn--theme-dark-cyan {
      color: hsl(184, 100%, 22%);
    }
    &__show-btn--theme-darker-cyan {
      color: hsl(179, 100%, 13%);
    }
}

.attribution {
  margin-top: auto;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}