/**
* CARD
*   MEDIA
*     IMG
*   BODY
*     TITLE
*     DESCRIPTION
*     SHOW-BTN
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  
  background-color: hsl(0, 0%, 95%);
  font-size: 0.9375rem;
}

.card-list {}

.card {
  &__body {}
  
  &__description {}
  
  &__media {}
  
  &__show-btn {}
  
  &__title {}
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}