@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
/**
* CARD
*   MEDIA
*     IMG
*   BODY
*     TITLE
*     DESCRIPTION
*     SHOW-BTN
**/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: hsl(0, 0%, 95%);
  font-size: 0.9375rem;
  font-family: 'Lexend Deca', sans-serif;
}

.card-list {

}

.card {
  

  &__body {}
  
  &__description {}
  
  &__media {}
  
  &__show-btn {}
  
  &__title {}
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}